<!doctype html>

<html lang="en">
<head>

Dashboard page

</head>

<body>
    <br>
Get Nginx Logs
    <br>

    <br>
    <form method="post" action="http://18.191.183.127:8000/getNginxLogs/">
        <button type="submit">Get Nginx Logs</button>
    </form>
</html>